<%- include("header")-%>
<%- include("navbar")-%>
<div class="container">
    <div class="create-p">
        <form action="res" method="POST" class="ch">
            
            <label class="l-head">Enter Heading</label>
            <input type="text" name="headi" class="cc">
            <label class="l-head">Enter Content</label>

            <textarea type="text" name="cco" class="c-co"></textarea>
            <button type="submit" class="sd">Submit</button>
        </form>
    </div>
    
</div>
<%- include("footer")-%>