<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div class="container">
        <h1><%=day%></h1>
        <div class="fo">
            <form action="/" method="POST">
                <input type="text" name="add">
                <button type="submit" class="sub">Add Task</button>
            </form>
        </div>
        <ul>
            <li>Buy Food</li>
            <li>Buy Car</li>
            <li>Buy Lab</li>
        </ul>
    </div>
    <script src="" async defer></script>
</body>

</html>